.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/smokeyBackground1024_1.png");
  /* background-color: black; */
  background-repeat: no-repeat;
  font-family: "IM Fell";
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  /* grid-template-rows: auto auto; */
}
.Menu {
  width: 100%;
  height: auto;
  display: flex;
}
.Right {
  height: auto;
  width: 100%;
  /* background-color: red; */
}
.Left {
  height: auto;
  width: 100%;
  /* background-color: blue; */
}
.Middle {
  height: auto;
  width: 100%;
  /* background-color: green; */
  /* display: grid;
  grid-template-columns: auto; */
  /* grid-row-gap: 100px; */
}
text {
  color: white;
  font-size: 40px;
  font-family: "IM Fell English", serif;
  /* text-transform: uppercase; */
  cursor: pointer;
}
.SectionName {
  width: 100%;
  height: 50px;
  background-color: #f7941d;
  border: 1px solid white;
}
.NameAndPrice {
  width: 96%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  /* text-transform: uppercase; */
}
.itemNames {
  color: #f7941d;
  font-size: 20px;
  text-align: left;
  margin-block-start: 2px;
  margin-block-end: 2px;
  font-weight: bold;
}
.price {
  color: white;
  font-size: 20px;
  margin-block-start: 2px;
  margin-block-end: 2px;
  text-align: right;
  font-weight: bold;
}
.Information {
  width: 60%;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: medium;
  padding-left: 8px;
}
.ItemsData {
  margin-bottom: 2%;
}

@media screen and (min-width: 1700px) {
  text {
    font-size: 50px;
    color: white;
  }
  .SectionName {
    width: 100%;
    height: 60px;
    background-color: #f7941d;
    border: 1px solid white;
  }
  .itemNames,
  .price {
    font-size: 25px;
  }
}

/* 
Menu Page 2
*/

.Menu2 {
  width: 100%;
  height: auto;
  display: flex;
  /* grid-template-columns: auto auto auto; */
}
.Right2 {
  height: auto;
  width: 100%;
  /* background-color: red; */
}
.Left2 {
  height: auto;
  width: 100%;
  /* background-color: blue; */
}
.Middle2 {
  height: auto;
  width: 100%;
  /* background-color: green; */
  /* display: grid;
  grid-template-columns: auto; */
  /* grid-row-gap: 100px; */
}
.NameAndPriceChicken {
  width: 96%;
  margin: auto;
  display: grid;
  font-size: 10px;
  grid-template-columns: 50% 20% 30%;
}
.NameAndPriceBurgers {
  width: 96%;
  margin: auto;
  display: grid;
  font-size: 10px;
  grid-template-columns: 60% 20% 20%;
}

.sideBar {
  width: 100px;
  height: 500px;
  background-color: #f7941d;
  /* overflow-y: scroll; */
  overflow: auto;
  border-radius: 20px;
}
.menuItemIcon {
  width: 90%;
  height: 70px;
  border: 1px solid white;
  margin: 35px auto;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
