.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("./assets/smokeyBackground1024_1.png");
  /* background-color: black; */
  background-repeat: no-repeat;
  font-family: "IM Fell";
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  /* grid-template-rows: auto auto; */
}
.Menu {
  width: 100%;
  height: auto;
  display: flex;
  /* transform: scale(0.8); */
  background-image: url("./assets/smokeyBackground1024_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Right {
  height: auto;
  width: 100%;
  /* background-color: red; */
}
.Left {
  height: auto;
  width: 100%;
  /* background-color: blue; */
}
.Middle {
  height: auto;
  width: 100%;
  /* background-color: green; */
  /* display: grid;
  grid-template-columns: auto; */
  /* grid-row-gap: 100px; */
}
text {
  color: white;
  font-size: 42px;
  font-family: "IM Fell English", serif;
  /* text-transform: uppercase; */
  cursor: pointer;
}
.SectionName {
  width: 100%;
  height: 50px;
  background-color: #f7941d;
  border: 1px solid white;
}
.NameAndPrice {
  width: 96%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  /* text-transform: uppercase; */
}
.itemNames {
  color: #f7941d;
  font-size: 30px;
  text-align: left;
  margin-block-start: 2px;
  margin-block-end: 2px;
  font-weight: bold;
}
.price {
  color: white;
  font-size: 30px;
  margin-block-start: 2px;
  margin-block-end: 2px;
  text-align: right;
  font-weight: bold;
}
.Information {
  width: 60%;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  padding-left: 8px;
}
.ItemsData {
  margin-bottom: 2%;
  width: 100%;
}
.itemContainer {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1700px) {
  text {
    font-size: 50px;
    color: white;
  }
  .SectionName {
    width: 100%;
    height: 60px;
    background-color: #f7941d;
    border: 1px solid white;
  }
  .itemNames,
  .price {
    font-size: 25px;
  }
}

/* 
Menu Page 2
*/

.Menu2 {
  width: 100%;
  height: auto;
  display: flex;
  /* grid-template-columns: auto auto auto; */
}
.Right2 {
  height: auto;
  width: 100%;
  /* background-color: red; */
}
.Left2 {
  height: auto;
  width: 100%;
  /* background-color: blue; */
}
.Middle2 {
  height: auto;
  width: 100%;
  /* background-color: green; */
  /* display: grid;
  grid-template-columns: auto; */
  /* grid-row-gap: 100px; */
}
.NameAndPriceChicken {
  width: 96%;
  margin: auto;
  display: grid;
  font-size: 10px;
  grid-template-columns: 50% 20% 30%;
}
.NameAndPriceBurgers {
  width: 96%;
  margin: auto;
  display: grid;
  font-size: 10px;
  grid-template-columns: 60% 20% 20%;
}

.sideBar {
  width: 100px;
  height: 100vh;
  background-color: #f7941d;
  /* overflow-y: scroll; */
  overflow: auto;
  /* border-radius: 20px; */
}
.sideBar:nth-child(1) {
  float: left;
}

.menuItemIcon {
  width: 90%;
  height: 70px;
  border: 1px solid white;
  margin: 35px auto;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.react-icon {
  font-size: 40px;
  width: 90%;
  height: 70px;
  border: 1px solid white;
  margin: 35px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.MainPopup {
  width: 700px;
  height: 520px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  background-image: url("./assets/smokeyBackground1024_1.png");
}
.selectMenu {
  width: 50%;
  height: 30px;
  font-size: large;
}
.menuAndEditViewOptions {
  display: flex;
  width: 70%;
  margin: 4% auto;
}
.menuAndEditViewOptionsItem {
  width: 120px;
  height: 70px;
  border: 1px solid;
  margin: auto;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: larger;
  cursor: pointer;
}
.menuAndEditViewOptionsItem:hover {
  color: #f7941d;
}
.EnterButton {
  width: 200px;
  height: 40px;
  margin: 2% auto;
  border-radius: 5px;
  border: none;
  font-size: large;
  cursor: pointer;
}
button:hover {
  background-color: #f7941d;
  color: white;
}
.AddButton {
  position: absolute;
  right: 10px;
  bottom: 0px;
  width: 100px;
  height: 35px;
  margin: 10% auto;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.AddButton2 {
  position: absolute;
  left: 10px;
  bottom: 0px;
  width: 100px;
  height: 35px;
  margin: 10% auto;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.ImageUrlsDiv {
  width: 96%;
  height: 350px;
  border: 1px solid white;
  margin: auto;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  overflow-x: hidden;
}
.ImageInnerUrlDiv {
  width: auto;
  height: 100px;
  margin: auto;
}
.checkMarkPopupImage {
  position: relative;
  top: 30%;
  left: -40%;
  color: #006600;
  font-size: larger;
}
.checkMarkPopupImage2 {
  position: relative;
  top: 30%;
  left: -40%;
  color: transparent;
  font-size: larger;
}
.ImageUrlImage {
  margin: auto;
  border: 2px solid;
  cursor: pointer;
}
